<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.votingsystem">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Adminchangepassword"></activity>
        <activity android:name=".Verifyotp" />
        <activity android:name=".Adminsendotp" />
        <activity android:name=".Reportgroupshow" />
        <activity android:name=".Adminreportgeneration" />
        <activity android:name=".Alreadyvotedpage" />
        <activity android:name=".Usergroupview" />
        <activity android:name=".Votecasting" />
        <activity android:name=".Candidateshow" />
        <activity android:name=".AdminGroupdatashow" />
        <activity android:name=".user_new_registration" />
        <activity android:name=".user_login" />
        <activity android:name=".fileselectiondemo" />
        <activity android:name=".Admincandidateadd" />
        <activity android:name=".Admingroupadd" />
        <activity android:name=".Adminpage" />
        <activity android:name=".AdminLogin" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>